/* =============PAGINA DE HOME=============== */
@media only screen and (max-width: 575) {
    h1{
        font-size: 3rem;
    }
    
    .recursos__imagen {
        padding: 70px 20px 0 20px;
    }
    
    .recursos__video {
        iframe{
        width: 80%;
        }
    }
}

@media only screen and (min-width:993px){
    .main {
        &__texto {
            padding: 50px 20px 20px 30px;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .testimonios  {
        img{
        height: 256px;
        width: 266px;
        padding: 5px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .testimonios {
        img{
        height: 210px;
        width: 200px;
    }
}
}

/* media querie para la seccion de pagos */
@media only screen and (min-width:320px) and (max-width: 480px) {
    .esquema {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary_color;
        height: 600px;
        padding-bottom: 20px;
    }

    .grid__item {
        width: auto;
        font-size: 1rem;
    }

    .tabla__grid {
        display: flex;
        flex-direction: column;
        height: 430px;
        width: 280px;
        h4{
            font-size: 1.5rem;
        } 
        .grid__item--modificador{
            font-size: 1rem;
        }   
        .plan__pago1, .precio1, .beneficio1{
            order: 1;
        }

        .plan__pago2, .precio2, .beneficio2{
            order: 2;
        }

        .plan__pago3, .precio3, .beneficio3{
            order: 3;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .esquema {
        background-color: $secondary_color;
        height: 350px;
    }

    .tabla__grid {
        h4{
            font-size: 1.5rem;
        } 
        .grid__item--modificador{
            font-size: 1.2rem;
        }   
    }
}

@media only screen and (min-width: 979px) {
    .esquema {
        padding-top: 20px;
        background-color: $secondary_color;
        height: 400px;
    }

    .grid__item {
        width: auto;
        font-size: 18px;
    }

    .tabla__grid {
        h4{
            font-weight: bold;
            font-size: 2rem;
        }
        
        p{
            font-size: 1.1rem;
        }   
    }
}

/* media querie para el footer */
@media only screen and (min-width: 979px) {
    .footer__nav {
        ul{
        width: 100%;
        }
    }
}

@media only screen and (min-width: 979px) {
    .footer__nav {
        ul{
        width: 100%;
        margin: 15px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .footer__nav {
        .redesSociales{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        ul {
            width: 100%;
        }
    }
}

/*=========pagina de subscripcion============= */
@media only screen and (min-width:320px) and (max-width:575px) {
    .titulo__central--subs {
        font-size: 3.4rem;
    }

    .tipodePlan {
        font-size: 2.5rem;
    }

    .preguntas__frecuentes{
        padding: 35px 10px 45px 10px;
    }
}


@media only screen and (max-width:576px) {
    .titulo__central {
        font-size: 2rem;
    }
}


/* ======pagina de recursos========= */
@media only screen and (max-width:576px){
    .descripcion__recursos {
        p{
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 10px 20px 10px 20px;
        text-align: center;
        }
    }
}

@media only screen and (max-width:768px) {
    .carousel-caption {
        h5 {
        font-size: 4rem;
    }
    }
}

/* ====pagina sobre nosotros ======= */
@media only screen and (min-width:320px) and (max-width:576px){
    .titulo__central{
        font-size: 3rem;
    }

    .espacio__video {
        iframe{
                padding: 30px 5px 20px 5px;
                height: 300px;
                width: 350px;
                text-align: center;
                align-items: center;
                box-sizing: border-box;
        }
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .espacio__video {
        iframe{
            padding: 40px 10px 40px 10px;
                height: 400px;
                width: 500px;
                text-align: center;
                align-items: center;
                box-sizing: border-box;
        }
    }
}

@media only screen and (min-width:993px) and (max-width:1200px){
    .espacio__video {
        iframe {
            padding-right: 0px;
            padding-left: 0px;
            height: 600px;
            width: 800px;
            text-align: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width:1201px){
    .espacio__video {
        iframe {
            padding-right: 0px;
            padding-left: 0px;
            width: 1000px;
            text-align: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width:576px) {
    .valores__empresa {
        padding: 20px 30px 20px 30px;
    }

    .valores__empresa {
        h3{
            padding: 20px 30px 20px 30px;
        }
    }

    .texto__empresa {
        font-size: 2rem;
        padding: 20px 30px 40px 30px;
        text-align: center;
        justify-content: center;
    }

    .trabajador {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .valores__empresa {
        padding: 20px 30px 20px 30px;
    }

    .valores__empresa {
        h3{
        padding: 20px 30px 20px 30px;
        }
    }
    
    .texto__empresa {
        font-size: 2rem;
        padding: 20px 30px 40px 30px;
        text-align: center;
        justify-content: center;
    }

    .trabajador {
        display: flex;
        flex-direction: column;
    }
}