/* variables*/
$font_family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$primary_color: rgb(255, 64, 51);
$secondary_color: rgb(82, 144, 201);
$tertiary_color: rgb(255, 198, 4);
$text-align: center;
