/* footer */
.foot__nav {
    background: rgb(1, 16, 94);
    background: linear-gradient(90deg, rgba(1, 16, 94, 1) 0%, rgba(148, 32, 90, 1) 79%, rgba(255, 44, 87, 1) 100%);
    ;
}

footer a {
    color: aliceblue;
    text-decoration: none;
    padding-right: 10px;
}

.foot__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foot__nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-right: 45px;
    list-style: none;
    text-decoration: none;
    padding: 15px 0 0 15px;
}

.foot__nav .redes__sociales {
    display: flex;
    flex-wrap: wrap;
}

.redes__sociales img {
    height: 200px;
    width: 200px;
    padding: 35px;
}

.redes__sociales img:hover {
    transform: scale(1.3);
}

.redes__sociales {
    display: inline;
    justify-content: center;
}

.footer_nav ul a {
    text-decoration: none;
}

.foot__nav p {
    color: aliceblue
}