/* ======================= pagina de contacto ==================*/
.contenedor__contacto {
    background-color: $secondary_color;
    font-size: 1.5rem;
}

.titulo__contacto {
    padding: 20px 40px 25px 40px;
}