/* ======================= pagina de contacto ==================*/
.contenedor__contacto {
    background-color: rgb(75, 199, 224);
}

.formulario__titulo {
    padding: 0 0 15px 0;
}

.color__boton__contacto {
    background-color: rebeccapurple;
}