/* =======pagina de recursos====== */
.recurso {
    text-align: center;
}

.recursos1,
.recursos2 {
    padding: 50px 0 0 0;
}

.descripcion__recursos {
    p{
    font-size: 2rem;
    line-height: 3rem;
    padding: 20px 50px 20px 50px;
    text-align: center;
    }
}

.contenedorCarousel{
    padding-bottom: 30px;
}

.carousel-caption {
    h5{
    font-size: 6rem;
    }
}

#carouselExampleCaptions .carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(41, 14, 14, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vw;
}

.contenedor__recursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 50px 0;
}

.padre__card{
    padding: 35px 75px 50px 75px;
}

.card{
    width: 22rem;
}

.card-img-top{
    background-color: $secondary_color;
    align-self: center;
    padding: 15px 10px 15px 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary_color;
    padding: 15px 20px 15px 20px;
}

.card-title{
    font-size: 3.4rem;
    color: white;
}

.card-text{
    font-size: 2.2rem;
    justify-content: flex-start;
    color: white;
} 